<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="summer_projects.quickbitedelivery.mapper.DishMapper">
    <select id="selectDtos" resultType="summer_projects.quickbitedelivery.dto.DishDto">
        SELECT d.*, c.name AS category_name
        FROM dish d
        LEFT JOIN category c ON d.category_id = c.id
        WHERE d.name LIKE CONCAT('%', COALESCE(#{name}, ''), '%')
    </select>
</mapper>
